.box-field {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid hsl(var(--light-blue), 50%);
    background-color: hsl(var(--light-blue), 75%);
    user-select: none;
}

.box-field:hover {
    /* background-color: hsl(var(--light-blue), 80%); */
    border: 1px solid hsl(var(--light-blue), 30%);
}

.active,
.active:hover {
    z-index: 1;
    border: 1px solid hsl(var(--light-blue), 20%);
    box-shadow: 0px 0px 15px hsl(var(--light-blue), 10%);
}

.blow {
    background-color: rgb(0, 78, 72);
}
