.game-bar h2 {
    transform: scale(0.8, 1.5);
    font-size: 2rem;
    padding: 0.5rem 0.3rem 0.7rem 0;
    display: flex;
    justify-content: flex-start;
    margin-left: -2.5rem;
}

.game-bar div {
    padding-right: 2rem;
}

.points {
    color: hsl(var(--green), 15%);
}

.game-screen > .game-bar > h2 .levels {
    color: hsl(var(--red), 25%);
}

.game-bar {
    padding: 0.2rem 1rem;
    transform: scale(1) translateY(0rem);
    background-color: hsla(var(--light-blue), 75%, 0%);
    text-shadow: 0 0 1.5rem hsla(var(--light-blue), 20%, 0%);
    transition: transform 100ms ease-in-out, background-color 100ms,
        text-shadow 100ms;
}

.game-bar .pc {
    display: none;
}

.game-bar .phone {
    display: inline-block;
}

@media (min-width: 700px) {
    .game-bar .pc {
        display: inline-block;
    }

    .game-bar .phone {
        display: none;
    }

    .game-bar > h2 {
        font-size: 4rem;
        justify-content: space-between;
        padding: 0 0 0.5rem 0;
        margin-left: 0;
    }

    .game-bar div {
        padding-right: 0;
    }

    .game-screen > .game-bar:hover {
        transform: scale(1.9) translateY(-2.5rem);
        border-radius: 10px;
        text-shadow: 0 0 1.5rem hsla(var(--light-blue), 20%, 100%);
        background-color: hsla(var(--light-blue), 95%, 30%);
        transition: transform 1s ease-in-out, background-color 5s,
            text-shadow 2s;
    }

    .game-screen > .game-bar > h2 > .points {
        transform: translate(0%, 0%);
        transition: transform 100ms ease-in-out;
    }

    .game-screen > .game-bar > h2 > .levels {
        transform: translate(0%, 0%);
        transition: transform 100ms ease-in-out;
    }

    .game-screen > .game-bar:hover h2 > .points {
        transform: translate(-50%, -70%);
        transition: transform 3s ease-in-out;
    }

    .game-screen > .game-bar:hover h2 > .levels {
        transform: translate(50%, -70%);
        transition: transform 3s ease-in-out;
    }
}
