.play {
    background-color: hsla(var(--light-blue), 65%, 80%);
    color: hsl(var(--light-blue), 35%);
    font-size: 3rem;
    border-top: 1px solid hsl(var(--light-blue), 60%);
    border-right: 1px solid hsl(var(--light-blue), 40%);
    border-bottom: 1px solid hsl(var(--light-blue), 40%);
    border-left: 1px solid hsl(var(--light-blue), 60%);
    padding: 0.5rem 1.5rem;
    border-radius: 2.5rem;
    box-shadow: 0 0 10rem;
    text-shadow: -0.2rem -0.2rem 2rem;
    margin-top: 20rem;
}

.play:hover {
    background-color: hsla(var(--light-blue), 68%, 85%);
    color: hsl(var(--light-blue), 40%);
}

.play:active {
    font-size: 2.9rem;
    border-top: 1px solid hsl(var(--light-blue), 40%);
    border-right: 1px solid hsl(var(--light-blue), 60%);
    border-bottom: 1px solid hsl(var(--light-blue), 60%);
    border-left: 1px solid hsl(var(--light-blue), 40%);
    box-shadow: 0 0 10rem hsl(var(--light-blue), 45%);
    text-shadow: 0.2rem 0.2rem 2rem;
}
