:root {
    --light-blue: 196, 33%;
    --orange: 20, 96%;
    --red: 357, 90%;
    --white: 200, 10%;
    --green: 127, 90%;
    --blue: 224, 80%;
    --pink: 323, 89%;
    --yellow: 62, 93%;
    --gamebox-rows: 9;
    --gamebox-columns: 7;
    --field-size: 3rem;
    --item-size: 2rem;
    --item-size-hover: 2.2rem;
}
